
/* Ensures the form is positioned below the navbar */
.form-container {
  padding: 100px 5% 2rem;
    max-width:  1750px;
    margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

/* Title Styling */
.title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
}


/* Form Layout */
.form-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Profile Picture Section */
.profile-section {
  text-align: center;
  flex: 1;
}

.profile-picture-circle {
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, #4f4f4f, #1a1a1a);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto 10px auto;
  position: relative;
}

.upload-placeholder {
  color: #cec4c4;
}

.uploaded-profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Input and Form Fields */
.input-section, .form-fields {
  flex: 2;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-field, .form-group {
  flex: 1;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid rgb(224, 227, 231) !important;
  border-radius: 5px;
  background: transparent;
  color: white;
}

textarea {
  resize: none;
  height: 100px;
}

/* Submit Button */
.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #6a5acd, #483d8b);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.submit-button:hover {
  background: linear-gradient(135deg, #483d8b, #6a5acd);
}

/* Responsive Fix */
@media screen and (max-width: 768px) {
  .form-content {
    flex-direction: column;
  }
}